{{message}}
<form (ngSubmit)="loginUser()">
  <input type="text" name="username" [(ngModel)]="username" value="">
  <input type="password" name="password" [(ngModel)]="password" value="">
  <button type="submit" name="button">login</button>
</form>
